<!--head-->
<%- include("../partials/head.ejs") %>

    <title>Registro</title>
    <link rel="stylesheet" href="/css/createProduct.css" type="text/css">
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>

        <div class="margin-left"></div>

        <div class="principal">

            <div class="container-form">
                <div>
                    <h2 class="titulo">Editar producto</h2>
                </div>
                <form action="/admin/editar/<%= productToEdit.id%>?_method=PATCH" method="POST">
                   
                    <div>
                        <label for="name">Nombre del producto:</label>  
                        <input type="text" name="name" value="<%= productToEdit.name %>">
                    </div>
                    <div>
                        <label for="price">Valor del producto:</label>
                        <input type="number" name="price" value="<%= productToEdit.price %>" >
                    </div>
                    <div>
                        <label for="color">Color:</label>
                        <input type="text" name="color" value="<%= productToEdit.color %>" >
                    </div>
                    <div>
                        <label for="discount">Descuento:</label>
                        <input type="text" name="discount" value="<%= productToEdit.discount %>" >
                    </div>
                    <div>
                        <label for="stock">Stock:</label>
                        <input type="number" name="stock" value="<%= productToEdit.Stock %>" >
                    </div>
                    <div>
                        <label for="category">Categoria:</label>
                        <select name="category" value="<%= productToEdit.category %>">
                            <option>------------------</option>
                            <option value="<%= productToEdit.category %>" >Ruta</option>
                            <option value="<%= productToEdit.category %>" >BMX</option>
                            <option value="<%= productToEdit.category %>" >Urbano</option>
                            <option value="<%= productToEdit.category %>" >Montaña</option>
                        </select>
                    </div>
                    <div>
                        <label for="tipo">Tipo:</label>
                        <select name="tipo" value="<%= productToEdit.tipo %>">
                            <option>------------------</option>
                            <option value="masVendida" >Mas Vendido</option>
                            <option value="promocion" >Promocion</option>
                            <option value="nueva" >Nueva</option>
                        </select>
                    </div>
                    <div>
                        <label for="genero">Genero:</label>
                        <select name="genero">
                            <option>------------------</option>
                            <option value="<%= productToEdit.genero %>" >Hombre</option>
                            <option value="<%= productToEdit.genero %>" >Mujer</option>
                            <option value="<%= productToEdit.genero %>" selected>Unisex</option>
                        </select>
                    </div>
                    <div>
                        <label for="description">Descripcion del producto:</label>
                        <textarea name="description" cols="10" rows="3" value="<%= productToEdit.description %>" selected></textarea>
                    </div>
                    <div>
                        <label for="file" class="caracteristicas">Caracteristicas</label>
                        <div>
                            <label for="material">Material marco:</label>
                            <input type="text" name="material" value="<%= productToEdit.material %>">
                        </div>
                        <div>
                            <label for="numeroCambios">Numero de cambios:</label>
                            <input type="text" name="numeroCambios" value="<%= productToEdit.numeroCambios %>">
                        </div>
                        <div>
                            <label for="tipoFreno">Tipo de freno:</label>
                            <input type="text" name="tipoFreno" value="<%= productToEdit.tipoFreno %>">
                        </div>
                        <div>
                            <label for="suspension">Suspención:</label>
                            <input type="text" name="suspension" value="<%= productToEdit.suspension %>">
                        </div>
                        <div>
                            <label for="image">Cambiar imagen</label>
                            <img src="/img/<%=productToEdit.image%>" alt="Prototipo <%=productToEdit.name%> ">
                            <input type="file" name="image" id="image" value="<%= productToEdit.image %>">
                        </div>
                    </div>

                    <div>
                        <button class="submit" type="submit">Guardar cambios</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="margin-right"></div>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>